<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./bootstrap.php"
         colors="true">
    <testsuites>

        <testsuite name="Acelaya\QrCode Module class">
            <file>./ModuleTest.php</file>
        </testsuite>
        <testsuite name="Acelaya\QrCode Services">
            <directory>./Service</directory>
        </testsuite>
        <testsuite name="Acelaya\QrCode Controllers">
            <directory>./Controller</directory>
        </testsuite>
        
    </testsuites>
    
    <filter>
        <whitelist>
            <directory>../src</directory>
            <file>../Module.php</file>
        </whitelist>
    </filter>
</phpunit>
