<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./bootstrap.php"
         colors="true">
    <testsuites>

        <testsuite name="Acelaya\QrCode Module class">
            <file>./ModuleTest.php</file>
        </testsuite>
        <testsuite name="Acelaya\QrCode Services">
            <directory>./Service</directory>
        </testsuite>
        <testsuite name="Acelaya\QrCode Controllers">
            <directory>./Controller</directory>
        </testsuite>
        <testsuite name="Acelaya\QrCode Exceptions">
            <directory>./Exception</directory>
        </testsuite>
        <testsuite name="Acelaya\QrCode Views">
            <directory>./View</directory>
        </testsuite>
        <testsuite name="Acelaya\QrCode Options">
            <directory>./Options</directory>
        </testsuite>
        
    </testsuites>
    
    <filter>
        <whitelist>
            <directory>../src</directory>
            <exclude>
                <file>../src/Service/QrCodeServiceAwareTrait.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
